extends ../layout

block header
  .green.darken-1.header(style=user ? "margin-bottom:0px":"")
    .container.white-text
      h2 The Collections
      p.flow-text A <strong>collection</strong> is a group of flashcards for a specific topic.
  if user
    .green.lighten-4.header(style="padding-bottom:0px;")
      .container
        a.waves-effect.waves-light.btn(href="/collections/add") Add

block content
  if collections.length == 0
    p There are no collections at present.
  else
    ul.collection
      for collection in collections
        li.collection-item.avatar
          a.collection-item(href="/collection/#{collection.slug}")
            if(collection.items[0] != undefined)
              img.blue.circle(src="#{collection.items[0].images[0].thumb}")
            else
              i.mdi-action-assessment.circle.green
            span.title= collection.name
            p #{collection.items.length} items collection
