mixin links
  li(class=title=='Home'?'active':undefined)
    a(href='/') Home
  li(class=title=='Collections'?'active':undefined)
    a(href='/collections') Collections
  li(class=title=='Contact'?'active':undefined)
    a(href='/contact') Contact
  if !user
    li(class=title=='Login'?'active':undefined)
      a(href='/login') Login
    li(class=title=='Create Account'?'active':undefined)
      a(href='/signup') Create Account
  else
    li.dropdown(class=title=='Account Management'?'active':undefined)
      a.dropdown-button(href='#', data-activates='dropdown1')
        if user.profile.picture
          img(src='#{user.profile.picture}', class="small-avatar")
        else
          img(src='#{user.gravatar(60)}', class="small-avatar")
        | #{user.profile.name || user.email || user.id}&nbsp;
        i.mdi-navigation-arrow-drop-down.right
      ul.dropdown-content#dropdown1
        li
          a(href='/account')
            span.ion-person
            | My Account
        li.divider
        li
          a(href='/logout')
            span.ion-log-out
            |  Logout

nav.light-blue.lighten-1(role="navigation")
  .container
    .nav-wrapper
      a.brand-logo(href='/')
        i.mdi-file-cloud-queue
        | &nbsp;Project name
      ul.right
        +links
      ul#nav-mobile.side-nav
        +links
      a(href="#", data-activates="nav-mobile", class="button-collapse")
        i.mdi-navigation-menu